<% include ../partials/header %>

      <!-- Breadcrumbs -->
      <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
          <div class="container">
            <ul class="u-list-inline">
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-text" href="/shopping-cart">Shopping Cart</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
              </li>
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-text" href="/cart-shipping">Shipping</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
              </li>
              <li class="list-inline-item g-mr-5">
                  <a class="u-link-v5 g-color-text" href="#">Payment &amp; Review</a>
                  <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
                </li>
            </ul>
          </div>
        </section>
        <!-- End Breadcrumbs -->

      <!-- Checkout Form -->
      <div class="container g-pt-100 g-pb-70">
           <!-- Enter form and Id here -->
          <div class="g-mb-100">
            <!-- Step Titles -->
            <ul id="stepFormProgress" class="js-step-progress row justify-content-center list-inline text-center g-font-size-17 mb-0">
              <li class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x  mx-auto mb-3" id="p1" style="background-color: #AFEEEE; color: #fff">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">1</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Shopping Cart</h4>
              </li>

              <li class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x mx-auto mb-3" id="p2" style="background-color: #AFEEEE; color: #fff">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">2</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Shipping</h4>
              </li>

              <li class="col-3 list-inline-item">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x  mx-auto mb-3" id="p3" style="background-color: #AFEEEE; color: #fff">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">3</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Payment &amp; Review</h4>
              </li>
            </ul>
            <!-- End Step Titles -->
          </div>
            <!-- Shopping Cart -->
            <div id="step1" class="active tab">
              <div class="row">
                <div class="col-md-8 g-mb-30">
                  <!-- Products Block -->
                  <div class="g-overflow-x-scroll g-overflow-x-visible--lg">
                    <table class="text-center w-100">
                      <thead class="h6 g-brd-bottom g-brd-gray-light-v3 g-color-black text-uppercase">
                        <tr>
                          <th class="g-font-weight-400 text-left g-pb-20">Product Image</th>
                          <th class="g-font-weight-400 g-width-100 g-pb-20">Product Price</th>
                          <th class="g-font-weight-400 g-width-50 g-pb-20">Product Quantity</th>
                          <th class="g-font-weight-400 g-width-50 g-pb-20">Product Dimensions</th>
                          <th class="g-font-weight-400 g-width-50 g-pb-20">Product Weight</th>
                          <th class="g-font-weight-400 g-width-65 g-pb-20">Remove Item</th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- Item-->
                        <% products.forEach(function(product) { %>
                        <tr class="g-brd-bottom g-brd-gray-light-v3">
                          <td class="text-left g-py-25">
                            <img class="d-inline-block g-width-100 mr-4" src="assets/img-temp/150x150/img6.jpg" alt="Image Description">
                            <div class="d-inline-block align-middle">
                              <h4 class="h6 g-color-black"><%= product.item.item %></h4>
                              <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-12 g-line-height-1_6 mb-0">
                              </ul>
                            </div>
                          </td>
                          <td class="g-color-gray-dark-v2 g-font-size-13">
                                <h4 class="h6 g-color-black">$<%= product.price %></h4>
                            </td>
                          <td>
                            <div class="g-color-gray-dark-v2 g-font-size-13">                              
                                    <h4 class="h6 g-color-black"><%= product.qty %></h4>
                            </div>
                          </td>
                          <td>
                            <div class="g-color-gray-dark-v2 g-font-size-13">                              
                                    <h4 class="h6 g-color-black"><%= product.item.length %> <strong>X</strong> <%= product.item.width %> <strong>X</strong> <%= product.item.height %></h4>
                            </div>
                          </td>
                          <td>
                            <div class="g-color-gray-dark-v2 g-font-size-13">                              
                                    <h4 class="h6 g-color-black"><%= product.item.weight %> <strong>Pounds</strong></h4>
                            </div>
                          </td>
                          <td>
                          <span class="g-color-gray-dark-v4 g-color-black--hover g-cursor-pointer">
                                <i class="mt-auto fa fa-trash"></i>
                              </span>
                            </td>
                        </tr>
                        <input type="text" name="price" value="<%= product.price %>" hidden>
                        <% }) %>
                        <!-- End Item-->
                      </tbody>
                    </table>
                  </div>
                  <!-- End Products Block -->
                </div>

                <div class="col-md-4 g-mb-30">
                  <!-- Summary -->
                  
                  <div class="g-bg-gray-light-v5 g-pa-20 g-pb-50 mb-4">
                    <h4 class="h6 text-uppercase mb-3"><strong>Order Summary</strong></h4>
                    <div class="d-flex justify-content-between mb-2">
                        <span class="g-color-black"><strong><%= client.nameFirst %> <%= client.nameLast %></strong></span>
                      </div>
                      <div class="d-flex justify-content-between mb-2">
                        <span class="g-color-black"> <strong><%= client.addressStreet %> <%= client.addressSuite %></strong></span>
                        </div>
                        <div class="d-flex justify-content-between mb-2"> 
                        <span class="g-color-black"><strong><%= client.addressCity %>, <%= client.addressState %> <%= client.postalCode %></strong></span>
                      </div>                    
                    <div class="d-flex justify-content-between mb-2">
                        <span class="g-color-black"><strong>Shipping Rate:</strong> $<%= cart.rate %></span>
                      </div>
                    <div class="d-flex justify-content-between mb-2">
                      <span class="g-color-black"><strong>Item Price:</strong> $<%= totalPrice %>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <% if(cart.rate) { %>
                          <% let total = parseFloat(cart.rate) + parseFloat(totalPrice); %>
                          <% total = (total.toFixed(2)); %>
                          <h4 class="h5 text-uppercase mb-3 g-color-black">Your total cost: $<%= total %></h4>
                          
                          <% } %>
                      </div>
                  </div>
                  
                </div>


                </div>
                </div>
                      
             <div id="dropin-wrapper">
                <form id="payment-form" action="/final-checkout" method="post">
                  <div id="dropin-container"></div>
                  <input type="hidden" name="rate" value="<%= cart.rate %>">
                  <input type="hidden" name="nameFirst" value="<%= client.nameFirst %>">
                  <input type="hidden" name="nameLast" value="<%= client.nameLast %>">  
                  <input type="hidden" name="addressStreet" value="<%= client.addressStreet %>">
                  <input type="hidden" name="addressSuite" value="<%= client.addressSuite %>">
                  <input type="hidden" name="addressCity" value="<%= client.addressCity %>">
                  <input type="hidden" name="addressState" value="<%= client.addressState %>">
                  <input type="hidden" name="postalCode" value="<%= client.postalCode %>">
                  <input type="hidden" name="phone" value="<%= client.phone %>">
                  <input type="hidden" name="email" value="<%= client.email %>">
                  <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
                  <% products.forEach(function(product) { %>
                    <input type="hidden" name="item" value="<%= product.item.item %>">
                    <input type="hidden" name="height" value="<%= product.item.height %>">
                    <input type="hidden" name="weight" value="<%= product.item.weight %>">
                    <input type="hidden" name="width" value="<%= product.item.width %>">
                    <input type="hidden" name="length" value="<%= product.item.length %>">
                 <% }); %>        
                  <input type="hidden" id="nonce" name="payment_method_nonce"></input>
                  <button class="btn u-btn-primary g-font-size-13 text-uppercase g-px-40 g-py-15" type="submit">Buy Now</button>
                </form>
              </div>
              </div>
              

<% include ../partials/footerCheckout %>